html, body {
    margin: 0;
    padding: 0;
}

.divider {
    height: 60vh;
}

header {
    display: flex;
    flex-direction: column;
    background-color: rgba(36, 30, 30, 0.95);
    position: absolute;
    top: 0;
    padding-top: 0;
    width: 100%;
    height: 60vh;
}

ul {
    display: flex;
    justify-content: right;
    list-style-type: none;
}

li a {
    color: white;
    text-decoration: none;
    margin-right: 10rem;
}

a {
    font-family: 'Kalam', cursive;
}

.inactive {
    margin-right: 12rem;
    opacity: 0.75;
    transition-duration: 300ms;
}

.inactive:hover {
    opacity: 1;
}

h1 div {
    display: inline;
    transition-duration: 250ms;
}

h1 div:hover {
    color: #FD9DEE;
}

h1, h2 {
    font-weight: normal;
}

h1, h2, p {
    font-family: 'Arima Madurai', cursive;
}

h1, header p {
    color: white;
}

h1 {
    font-size: 3rem;
    margin-top: auto;
    margin-bottom: 1vh;
}

p {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-size: 1.25rem;
}

#back-to-portfolio {
    display: block;
    font-size: 1.25rem;
    color: black;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, p, #back-to-portfolio {
    text-align: center;
}

h2, #back-to-portfolio {
    margin-top: 3.75rem;
}

@media only screen and (max-width: 1400px) {
    p {
        width: 70%;
    }
}

@media only screen and (max-height: 450px) {
    h1, header p {
        display: none;
    }
    header, .divider {
        height: 3.5rem;
    }
    header {
        position: sticky;
        justify-content: center;
    }
    h2:first-of-type {
        margin-top: 0.25rem;
    }
}

@media only screen and (max-height: 550px) {
    h1 {
        font-size: 2.7rem;
    }
    header p {
        font-size: 1.125rem;
    }
}

@media only screen and (max-width: 1250px) {
    main {
        grid-template: 40% 40% 40% / 32%;
        row-gap: 4%;
    }
    li a {
        margin-right: 7.5rem;
    }
    .inactive {
        margin-right: 6.25rem;
    }
}

@media only screen and (max-width: 700px) {
    p {
        width: 85%;
    }
    li a {
        margin-right: 6rem;
    }
    .inactive {
        margin-right: 5rem;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2.7rem;
    }
    h2 {
        font-size: 1.35rem;
    }
    p {
        font-size: 1.125rem;
    }
    li a {
        margin-right: 3rem;
    }
    .inactive {
        margin-right: 2.5rem;
    }
}