html, body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    background-color: rgba(36, 30, 30, 0.95);
    width: 100%;
    height: 60vh;
}

nav {
    position: absolute;
    width: 100%;
}

ul {
    display: flex;
    justify-content: right;
    list-style-type: none;
}

li a {
    color: white;
    text-decoration: none;
    margin-right: 12rem;
    opacity: 0.75;
    transition-duration: 300ms;
}

li a:hover {
    opacity: 0.9;
}

li a, main a[href*="index"] {
    font-family: 'Kalam', cursive;
}

a[href*="about"] {
    margin-right: 10rem;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-40%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes appearIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1 div {
    display: inline;
    transition-duration: 250ms;
}

h1 div:hover {
    color: #FD9DEE;
}

h1, h2 {
    font-weight: normal;
}

h1, h2, p {
    font-family: 'Arima Madurai', cursive;
}

h1, header p {
    color: white;
    margin-right: auto;
    margin-left: 17.5vw;
}

header p {
    opacity: 0;
    margin-bottom: auto;
    margin-top: 0.5rem;
    width: 31%;
    text-align: initial;
    animation-duration: 0.65s;
    animation-name: appearIn;
    animation-delay: 0.65s;
    animation-fill-mode: forwards;
}

h1 {
    font-size: 3rem;
    margin-top: auto;
    margin-bottom: 1vh;
    animation-duration: 0.65s;
    animation-name: slideIn;
}

main p, img, main a[href*="index"] {
    margin-left: auto;
    margin-right: auto;
}

p {
    width: 70%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    text-align: center;
}

h2:first-of-type {
    margin-top: 4.25rem;
}

h2 {
    margin-top: 5rem;
    text-align: center;
}

img {
    width: 70%;
    height: auto;
    display: block;
    margin-top: 4rem;
    margin-bottom: 4rem;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.4));
}

img[src="./CoffeeHome2.png"], img[src="./CoffeeHome3.png"] {
    width: 40%;
}

img[src="./CoffeeDropdown.png"] {
    margin-bottom: 1rem;
}

img[src="./CoffeeDropdown2.png"] {
    margin-top: 1rem;
}

main a[href*="index"] {
    color: black;
    font-size: 1.25rem;
    display: block;
    text-align: center;
    width: fit-content;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}

@media only screen and (max-width: 1907px) {
    header p {
        width: 29%;
    }
}

@media only screen and (max-width: 1712px) {
    header p {
        width: 33%;
    }
}

@media only screen and (max-width: 1507px) {
    header p {
        width: 36%;
    }
}

@media only screen and (max-width: 1382px) {
    header p {
        width: 40%;
    }
}

@media only screen and (max-width: 1150px) {
    main p {
        width: 80%;
    }
}

@media only screen and (max-width: 1201px) {
    li a {
        margin-right: 8rem;
    }
    a[href*="about"] {
        margin-right: 5rem;
    }
}

@media only screen and (max-width: 1246px) {
    h1, header p {
        margin-left: 15vw;
    }
    header p {
        width: 45%;
    }
}

@media only screen and (max-width: 1109px) {
    h1, header p {
        margin-left: 12vw;
    }
    header p {
        width: 50%;
    }
}

@media only screen and (max-width: 1000px) {
    header p {
        width: 55%;
    }
}

@media only screen and (max-width: 911px) {
    h1, header p {
        margin-left: auto;
        text-align: center;
    }
    header p {
        width: 70%;
    }
}

@media only screen and (max-width: 708px) {
    li a {
        margin-right: 3.75rem;
    }
    a[href*="about"] {
        margin-right: 3.5rem;
    }
}

@media only screen and (max-width: 695px) {
    header p {
        width: 80%;
    }
}

@media only screen and (max-width: 609px) {
    header p {
        width: 85%;
    }
}

@media only screen and (max-height: 701px) {
    h1 {
        font-size: 2.7rem;
    }
}

@media only screen and (max-height: 576px) {
    h1, header p {
        display: none;
    }
    header {
        height: 3.5rem;
    }
    header {
        position: sticky;
        justify-content: center;
        z-index: 1;
    }
}